


*{
   margin: 0%;
   padding: 0%;
  
   font-family: Arial, Helvetica, sans-serif;

}


.box {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100vh;
   background-color: #f7f7f7 ;
   
   

}

.title-box {
   
   width: 500px;
   background-color: #f7f7f7;

}

.title-box img {
  
   width: 235px;
   margin-bottom: 10px;
   background-color:#f7f7f7;
}

.title-box p {
   color: #000;
   font-size: 26px;
   font-weight: normal;
   line-height: 32px;
   background-color: #f7f7f7;


}

.form-box {
 
   width: 350px;
   padding: 15px;
   text-align: center;
   border-radius: 5px;
   margin-left: 60px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
   background-color: #fff;


}




.form-box input {

   width: 100%;
   margin-bottom: 15px;
   padding: 15px;
   font-size: 18px;
   box-sizing: border-box; 
   border: 1px solid #dddfe2;
   border-radius: 5px;
   outline: none;
   
   background-color: #fff;
     
}

.form-box input:focus {
box-shadow: 0px 0px 1px 1px rgb(24, 119, 242); 

}
   



.form-box button {

   width: 100%;
   margin-bottom: 15px;
   padding: 13px 0;
   font-size: 20px;
   font-weight: 600;
   color: #fff;
   
   background-color: #1877f2;
   border-radius: 5px;
   border: none;
   cursor: pointer; 
    
}

.form-box button:hover {
   
background: #166fe5;
}

.form-box  a {
   text-decoration: none;
   color: #1877f2;
   font-size: 14px;
   font-weight: 500;
   margin: 5px 0 20px;
   display: block;

}

.form-box  a:hover {

   text-decoration: underline;
}

.form-box hr {

   border: 1px solid #dadde1;
   margin-bottom: 15px;
   background-color: #fff;


}

.create-btn a {
   
   color: #fff;
   background-color: #42b72a;
   font-size: 16px;
   text-decoration: none;
   padding: 15px 20px;
   border-radius: 5px;
   font-weight: 600;
   display: inline-block;
   
                                   
                 
}
   
.create-btn a:hover {
 
   background-color: #36a420;
   text-decoration: none;

}  
   
  
  


















